<div class="row">
  <div class="col-md-8 col md-offset-2 col-lg-8 col-lg-offset-2">
    <h2>Contact Book</h2>
    <button class="btn btn-default add-contact" ng-click="addContact()">Add new contact</button>

    <ul class="list-unstyled contacts">
      <li ng-repeat="contact in orderedContacts" class="contact">
        <h3 class="group" ng-show="$first || contact.group != orderedContacts[$index-1].group">Group: {{ contact.group }}</h3>

        <div class="body">
          <button class="btn btn-default pull-right edit-contact" ng-click="editContact(contact)">Edit</button>

          <div class="name"><strong>{{ contact.name }}</strong> <span class="surname">{{ contact.surname }}</span></div>
          <div class="phone">Phone: {{ contact.phone }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>